<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.modules.daxu.dao.FsFileDirectoryDetailMapper">

        <resultMap id="BaseResultMap" type="com.account.modules.daxu.model.bo.FsFileDirectoryDetail">
                    <id column="id" property="id"/>
                    <result column="fileDirectoryId" property="fileDirectoryId"/>
                    <result column="fileType" property="fileType"/>
                    <result column="fileName" property="fileName"/>
                    <result column="fileDownloadCount" property="fileDownloadCount"/>
                    <result column="fileSize" property="fileSize"/>
                    <result column="fileUrl" property="fileUrl"/>
                    <result column="fileRemarks" property="fileRemarks"/>
                    <result column="createTime" property="createTime"/>
                    <result column="createBy" property="createBy"/>
                    <result column="updateTime" property="updateTime"/>
                    <result column="updateBy" property="updateBy"/>
                    <result column="isDelete" property="isDelete"/>
                    <result column="tenantId" property="tenantId"/>
        </resultMap>

        <sql id="commonSql">
         `id`
            ,
         `fileDirectoryId`
            ,
         `fileType`
            ,
         `fileName`
            ,
         `fileDownloadCount`
            ,
         `fileSize`
            ,
         `fileUrl`
            ,
         `fileRemarks`
            ,
         `createTime`
            ,
         `createBy`
            ,
         `updateTime`
            ,
         `updateBy`
            ,
         `isDelete`
            ,
         `tenantId`

    </sql>

        <!-- 分页查询 -->
        <select id="selectFsFileDirectoryDetailPageList" resultMap="BaseResultMap" parameterType="com.account.modules.daxu.model.bo.FsFileDirectoryDetailQuery">
            Select
            <include refid="commonSql"></include>
            From fs_file_directory_detail
            <trim prefix="where" prefixOverrides="and|or">
                AND 1=1
            </trim>
        </select>
</mapper>