<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.modules.sysConfig.dao.AccountScDictionaryCatalogueMapper">

        <resultMap id="BaseResultMap" type="com.account.modules.sysConfig.model.bo.AccountScDictionaryCatalogue">
                    <id column="id" property="id"/>
                    <result column="dictonaryCatalogueCode" property="dictonaryCatalogueCode"/>
                    <result column="dictonaryCatalogueName" property="dictonaryCatalogueName"/>
                    <result column="isDefault" property="isDefault"/>
                    <result column="status" property="status"/>
                    <result column="createdBy" property="createdBy"/>
                    <result column="createdTime" property="createdTime"/>
                    <result column="updatedBy" property="updatedBy"/>
                    <result column="updatedTime" property="updatedTime"/>
                    <result column="isDeleted" property="isDeleted"/>
                    <result column="remark" property="remark"/>
                    <result column="tenantId" property="tenantId"/>
        </resultMap>

        <sql id="commonSql">
         `id`
            ,
         `dictonaryCatalogueCode`
            ,
         `dictonaryCatalogueName`
            ,
         `isDefault`
            ,
         `status`
            ,
         `createdBy`
            ,
         `createdTime`
            ,
         `updatedBy`
            ,
         `updatedTime`
            ,
         `isDeleted`
            ,
         `remark`
            ,
         `tenantId`

    </sql>

    <!-- 分页查询 -->
    <select id="selectAccountScDictionaryCataloguePageList"
        resultType="com.account.modules.sysConfig.model.vo.AccountScDictionaryCatalogueByDetail"
        parameterType="com.account.modules.sysConfig.model.query.AccountScDictionaryCatalogueQuery">
        select
            asdd.id,
            asdd.dictonaryDetailName,
            asdc.dictonaryCatalogueName,
            asdc.dictonaryCatalogueCode,
            asdd.sort,
            asdd.status,
            asdd.remark
        from account_sc_dictionary_catalogue  asdc
        inner join account_sc_dictionary_detail asdd on asdc.Id=asdd.dictonaryCatalogueId
        <trim prefix="where" prefixOverrides="and|or">
            <if test="queryObject.dictonaryCatalogueId!=null and queryObject.dictonaryCatalogueId!=''">
                AND  asdd.dictonaryCatalogueId= #{queryObject.dictonaryCatalogueId}
            </if>
            <if test="queryObject.dictonaryDetailName!=null">
                AND  asdd.dictonaryDetailName like  CONCAT ('%',#{queryObject.dictonaryDetailName},'%')
            </if>
        </trim>
        ORDER BY asdd.createdTime desc
    </select>
</mapper>